@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

/* Importing components */
@import url("component/animation.css");
@import url("component/avatar.css");
@import url("component/container.css");
@import url("component/font-page.css");
@import url("component/footer.css");
@import url("component/topnav.css");
@import url("component/text.css");
@import url("component/portfolio.css");
@import url("component/button.css");


html{
  scroll-behavior:smooth
}

body {
  margin:0px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4 {
  margin: 0px;
  padding:0px;
}

h1, h2 {
  color: black;
}

p {
  text-align: justify;
}

h1 {
  font-size:28px;
  font-family: "Roboto", "Helvetica Neue", "sans-serif";
  text-align: center;
}

h2 {
  font-family: "Roboto", "Helvetica Neue", "sans-serif";
  font-size:26px;
  line-height:32px;
}

h3 {
  font-family: "San Francisco (Numbers)", "FreightSansPro", "Helvetica", "sans-serif";
  font-size:24px;
  line-height:32px;
}

h4 {
  font-family: "San Francisco (Numbers)", "FreightSansPro", "Helvetica", "sans-serif";
  margin: 0;
}

p, ul, li {
font-family: "San Francisco (Numbers)", "FreightSansPro", "Helvetica", "sans-serif";
font-size:20px;
line-height: 20px;
}

ul, li {
  line-height: 20px;
  text-decoration: none;
  padding:0;
}





