@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

/* Importing components */
@import url("component/avatar.css");
@import url("component/competence.css");
@import url("component/box.css");
@import url("component/font-page.css");
@import url("component/footer.css");
@import url("component/list.css");
@import url("component/topnav.css");


html{
  scroll-behavior:smooth
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size:28px;
  font-family: "Roboto", "Helvetica Neue", "sans-serif";
  text-align: center;
}

h2 {
  font-family: "Roboto", "Helvetica Neue", "sans-serif";
  font-size:26px;
  line-height:32px;
}

h3 {
  font-family: "San Francisco (Numbers)", "FreightSansPro", "Helvetica", "sans-serif";
  font-size:24px;
  line-height:32px;
}

h4 {
  font-family: "San Francisco (Numbers)", "FreightSansPro", "Helvetica", "sans-serif";
  margin: 0;
}

p, ul, li {
font-family: "San Francisco (Numbers)", "FreightSansPro", "Helvetica", "sans-serif";
font-size:20px;
line-height: 20px;
}

ul, li {
  line-height: 20px;
  text-decoration: none;
  padding:0;
}

.title {
  margin: 25px;
}

h1, h2 {
  margin: 0;
  color: black;
}

.text-center {
  text-align: center;
}

.display-flex {
  display: flex;
}

.date {
  color: grey;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}

span {
  color: blue;
  font-weight: bold;
}

@media (max-width: 960px){
    .cart-sub {
      flex-wrap: wrap;
    }
}







