
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

/* Importing components */
@import url("component/topnav.css");
@import url("component/avatar.css");
@import url("component/experience.css");
@import url("component/font-page.css");
@import url("component/logo.css");
@import url("component/education.css");
@import url("component/publication.css");
@import url("component/footer.css");


a {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size:28px;
  font-family: "Calibri";
  text-align: center;
}

h2 {
  font-family: "Calibri";
  font-size:26px;
  line-height:32px;
}

h3 {
  font-family: "Gill Sans", sans-serif;
  font-size:24px;
  line-height:32px;
}


p, ul, li {
  font-family: "Gill Sans", sans-serif;
  font-size:20px;
}

ul, li {
  line-height: 20px;
}


a:hover {
  color:black;
}


.text-center {
  text-align: center;
}



