/* Animation*/

.visible {
  opacity: 1;
  transition: 0.7s;
}

.invisible {
  opacity: 0;
}


.img-portfolio figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.img-portfolio figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
figure {
  width: 500px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
