.box {
  display: flex;
  flex-direction: column;
  background-color: rgb(200,200,200,0.5);
}

.subbox {
  width: 70%;
  margin: 20px auto;
  padding:20px;
  border-radius: 5px;
  background-color: rgb(255,255,255);
  color: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cart-info {
  padding:0 20px;
  width: 100%;
}


.cart-sub .cart-info {
  padding-right: 20px;
  width: 100%;
}

.cart-info ul,li {
  line-height: 16px;
}

.cart-info a {
    color: grey;
}

.cart-info a:hover {
    color: black;
}


#publication {
  width: 80%;
  margin: auto;
}

#publication > div {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}
