/*box*/

.box {
  display: flex;
  flex-direction: column;
  background-color: rgb(200,200,200,0.5);
}

.subbox {
  width: 70%;
  margin: 20px auto;
  padding:20px;
  border-radius: 5px;
  background-color: rgb(255,255,255);
  color: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cart-info {
  width: 100%;
}

.cart-sub .cart-info {
  padding-right: 20px;
  width: 100%;
}

.cart-info ul,li {
  line-height: 16px;
}

.cart-info a {
    color: grey;
}

.cart-info a:hover {
    color: black;
}

#publication {
  width: 80%;
  margin: auto;
}

#publication > div {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}


.subbox:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: rgb(255,255,255,0.9);
}


/*list*/



.list {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  background-color:white;
  color: black;
}

.sublist {
  width: 100%;
  padding:10px;
  border-radius: 5px;
  margin: 20px auto;
}

.sublist a {
  color: grey;
}

.sublist a:hover {
  color:black;
}

#publication > div:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.competence h2 {
  color: gray;
  padding-left: 20px;
}

.competence-list {
  padding-left: 20px;
}

@media screen and (max-width: 600px) {
  .subbox {
    display: block;
    flex-direction: column;
  }

  .sublist {
    display: flex;
    flex-direction: column;
  }

  .list > sublist {
    display: block;
  }
}





/* portfolio*/


.portfolio {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin: 50px 0px;
}

.img-portfolio {
  width: 500px;
  text-align: center;
}

.img-portfolio img {
  width: 100%;
}

.card-info-portfolio {
  width: 50%;
}

.portfolio-description {
  width: 100%;
}


p {
  text-align: justify;
}


@media screen and (max-width: 600px) {

  .card-info-portfolio {
    width: 80%;
    margin: 30px 0px;
  }

  .img-portfolio img {
    width: 80%;
  }
}

.technical_track {
  margin-bottom:20px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-wrap: wrap;
}


.technical_track span {
  color: blue;
  font-weight: bold;
  padding-right: 20px;
  font-size: 20px;
  margin-bottom:20px;
}


.technical_track p {
  padding: 4px 6px;
  font-weight:bold;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  border: 2px solid #1EDD88;
  margin: 0px 8px 8px 8px;
}


.technical_track p:hover {
  padding: 4px 6px;
  font-weight:bold;
  align-items: center;
  background: #1EDD88;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  color: white;
  border: 2px solid #1EDD88;
  margin: 0px 8px 8px 8px;
}


.skills {
  display:flex;
  flex-wrap: wrap;
}





.link_website {
  color: white;
  padding: 8px 16px;
  background-color: rgb(228, 34, 34);
  border: 2px rgb(228, 34, 34) solid;
  border-radius: 5px;
  margin-top:20px;
}

.link_website:hover {
  color: rgb(228, 34, 34);
  padding: 8px 16px;
  background-color: white;
  border: 2px rgb(228, 34, 34) solid;
  border-radius: 5px;
  margin-top:20px;
}
