
.cart-education {
  display: flex;
  flex-direction: column;
  background-color: rgb(200,200,200,0.5);
  padding-top: 50px;
}

.cart-education .cart-sub {
  width: 70%;
  border-bottom: 1px solid lightgrey;
  margin: 20px auto;
  padding:20px;
  border-radius: 5px;
  background-color: rgb(255,255,255);
  display: flex;
/*    flex-wrap: wrap;
*/
}


.cart-education  h1 {
  margin: 0;
}


 .cart-sub .cart-info {
  padding-right: 20px;
  width: 100%;
}

.cart-info h3,a {
  color:grey;
  line-height: 16px;
  margin-bottom:10px;
  margin-top:0;
}

.cart-info p, ul {
  font-size: 16px;
  line-height: 20px;
  text-align: justify;

}

/* Sur les grands écrans, on limite la largeur du contenu */
@media (max-width: 960px){
    .cart-sub {
      flex-wrap: wrap;
    }
}



