
.cart-education {
  display: flex;
  flex-direction: column;
  background-color: rgb(200,200,200,0.5);
  padding-top: 40px;
}

.cart-education .cart-sub {
  width: 70%;
  border-bottom: 1px solid lightgrey;
  margin: 20px auto;
  padding:20px;
  border-radius: 5px;
  background-color: rgb(255,255,255);
  display: flex;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cart_education h3:first-child {
  font-size: 24px;
  line-height: 24px;
}

 .cart-sub .cart-info {
  padding-right: 20px;
  width: 100%;
}

.cart-info ul,li {
  line-height: 16px;
}


