
.cart_exp {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.cart_exp .cart-sub {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  padding:20px;
  border-radius: 5px;
  display: flex;
}

.cart_exp h3:first-child {
  font-size: 24px;
  line-height: 24px;
}

.cart_exp h1 {
  margin: 0;
}

.cart-sub .last-exp {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  padding:20px;
  border-radius: 5px;
  background-color: black;
}

.cart-info {
  padding:0 20px;
}

.cart-info h3,a {
  color:grey;
}


