.list {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  background-color:white;
  color: black;
}

.sublist {
  width: 100%;
  padding:10px 20px;
  border-radius: 5px;
  margin: 20px auto;
}

.sublist a {
  color: grey;
}

.sublist a:hover {
  color:black;
}



@media screen and (max-width: 600px) {
  .subbox {
    display: block;
    flex-direction: column;
  }

  .sublist {
    display: flex;
    flex-direction: column;
  }

  .list > sublist {
    display: block;
  }

}



