.logo-square {
  width:  100px;
  background-size: cover;
  margin-right: auto;
  padding-left: 10px;
}

.logo-long {
  padding-bottom: 20px;
  width:  150px;
  background-size: cover;
}

.div-logo {
  width:20%;
  padding-bottom: 20px;
}
