.cart-pulication {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.cart-pulication a:first-child {
  font-size: 24px;
  line-height: 24px;
  margin:20px 0px;
}

.cart-pulication .cart-sub {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  border-radius: 5px;
  padding-top: 20px;
}


span {
  color: blue;
  font-weight: bold;
}



