

.cart-pulication {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}


.cart-pulication a:first-child {
  margin: 0 10px;
  font-size: 24px;
}


.cart-pulication .cart-sub {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  border-radius: 5px;
}


span {
  color: blue;
  font-weight: bold;
}



